/* Card Container */
.card-container {
  width: 100%;
  height: 100%;
  background-color: rgba(48, 49, 65, 255);
  border: 1px solid rgba(73, 91, 125, 255);
  padding: 35px;
  display: flex;
  flex-direction: column;
}

.card-container-header {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 13px;
}

.container {
  width: 100%;
  flex-grow: 3;
}
.card-container-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-transparent {
  background-color: transparent;
}

.button-active {
  background-color: rgba(80, 89, 176, 255);
  color: rgba(201, 202, 206, 255);
}

.button-move {
  border: 1px solid rgba(68, 73, 96, 255);
  margin: 0 12px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@media (max-width: 400px) {
  .card-container-header {
    justify-content: center;
  }

  .row {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 13px;
  }
}

@media (max-width: 1280px) and (min-width: 401px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 13px;
  }

}

@media (max-width: 1022px) and (min-width: 401px) {
  .row {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 13px;
  }

}

@media (max-width: 795px) and (min-width: 401px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 13px;
  }

}